# =========================
# ENV
# =========================

.env
.env.local
.env.production

# =========================
# NODE
# =========================

node_modules/
npm-debug.log*

# =========================
# LOGS
# =========================

logs/
*.log

# =========================
# TEMP FILES
# =========================

tmp/
temp/

# =========================
# SYSTEM FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# BACKUPS
# =========================

backup_*
*.tar
*.zip

# =========================
# CHATWOOT
# =========================

chatwoot/node_modules/
chatwoot/log/
chatwoot/tmp/
chatwoot/storage/
chatwoot/

# =========================
# OSTICKET
# =========================

Osticket/data/

# =========================
# IDE
# =========================

.vscode/
.idea/

